<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">

<!--links css-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="includes/css/bootstrap-glyphicons.css">
<link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container" id="main">
    <div class="navbar navbar-fixed-top">
      <div class="container">
        <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Blog</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services
              <strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">More Services</li>
                <li><a href="#">Fourth</a></li>
                <li><a href="#">Five</a></li>
              </ul><!--end dropdown-menu-->
            </li>
          </ul><!--end nav-->
          <form class="navbar-form pull-left">
            <input type="text" class="form-control" placeholder="Search this site..." style="width:200px;">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form><!--end navbar form-->
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
                 My Account <strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                </li>
              <li>
                <a href="#"><span class="glyphicon glyphicon-repeat"></span> Update Profile</a>
              </li>
              <li>
                <a href="#"><span class="glyphicon glyphicon-briefcase"> Billing</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#"><span class="glyphicon glyphicon-off"></span> Sign out</a>
              </li>
              </ul>
            </li>
          </ul><!--end nav pull-right-->
        </div><!--end nav-collapse-->
      </div><!--end container-->
    </div><!--end navbar-->
</div><!--end container-->
<div class="content">
  <!--CONTENT-->

</div><!--end content-->
<div class="footer">
  <div class="container">
    <div class="row">
        <div class="col-sm-2">
          <h6>Copyright &copy; 2017 {name}</h6>
        </div><!--end col-sm-2-->
        <div class="col-sm-4">
          <h6>About Us<h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div><!--end col-sm-4-->
        <div class="col-sm-2">
          <h6>Navigation</h6>
          <ul class="unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Links</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!--end col-sm-2-->
        <div class="col-sm-2">
          <h6>Follow us</h6>
          <ul class="unstyled">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Vk</a></li>
            <li><a href="#">Ok</a></li>
          </ul>
        </div><!--end div col-sm-2-->
        <div class="col-sm-2">
          <h6>Code it by Artem</h6>
        </div><!--end div col-sm-2>
      </div><!--end div row-->
    </div><!--end container-->
</div><!--end footer-->

  <!--Set JS files-->
  <script src="http://code.jquery.com/jquery.js"></script><!--JQuery-->
  <script src="js/bootstrap.js"></script>
  <script src="includes/js/script.js"></script>

</body>
</html>
